@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: 	url('/css/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
		url('/css/fonts/HelveticaNeue-Bold.otf')  format('opentype'),
     	url('/css/fonts/HelveticaNeue-Bold.woff') format('woff'), 
     	url('/css/fonts/HelveticaNeue-Bold.ttf')  format('truetype'), 
     	url('/css/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: 	url('/css/fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),  
		url('/css/fonts/HelveticaNeue-Thin.otf')  format('opentype'),
     	url('/css/fonts/HelveticaNeue-Thin.woff') format('woff'), 
     	url('/css/fonts/HelveticaNeue-Thin.ttf')  format('truetype'), 
     	url('/css/fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	font-family: 'HelveticaNeue-Bold';
	padding: 0px;
	margin: 0px;
}

body{
	background: #DE6262;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #d36167, #f48e38);
	overflow-x: hidden;

}

.jumbo{
	/*background-image: url('/images/record2.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	background: contain;
	height: 750px;
	position: relative;
	top: -280px;
}

form{
	position: relative;
	top: 130px;
	left: 30%;
}

.input{
	font-family: 'HelveticaNeue-Bold';
	padding: 25px;
	border: 0px solid white;
	border-radius: 10px;
	width: 530px;
	font-size: 19px;
	color: black;
	background-color: white;
	box-shadow: none;
}


input[type=text]:focus{
	outline: none;
	outline-color: none;
	border: 0px solid white;
	width: 600px;
	transition: 0.7s ease-in-out;
	box-shadow: none;
}

.fa{
	font-size: 20px;
	color: #747474;
	position: relative;
	top: 5px;
}

.fa-soundcloud{
	color: orange;
}

.fa-bandcamp{
	color: #639aa9;
}

.submit{
	font-family: 'HelveticaNeue-Bold';
	font-size: 12px;
	border-radius: 30px;
	text-align: center;
	width: 700px;
	position: relative;
	left: -100px;
	height: 53px;
	top: 20px;
}

.logo{
	position: relative;
	top: 230px;
	width: 250px;
	height: 250px;
	left: -30px;
}

ul{
	list-style: none;
	display: inline-block;
	position: relative;
	left: 720px;
	top: 70px;
	font-size: 17px;
}


li{
	display: inline-block;
	margin: 0px 30px;
}

li a{
	color: white;
}

li a:hover{
	color: white;
	border-bottom: 3px solid white;
	transition: 0.1s ease-in-out;
}

.link-is-active{
	border-bottom: 4px solid white;
}

a.github{
	color: white;
	border-bottom: 5px solid pink;
}

a.github:hover{
	border-bottom: 5px solid white;
	transition: 0.4s ease-in-out;
}

.footer{
	position: relative;
	background-color: black;
}

.song-details{
	position: relative;
	top: -380px;
	background-color: #212121;
}

.album-image{
	width: 500px;
	position: relative;
	left: -100px;
}

.content h3{
	color: white;
	font-family: 'HelveticaNeue-Bold';
	font-size: 40px;
	position: relative;
	top: -19px;
	margin-bottom: 21px;
	line-height: 1.5;
}

.content h3 strong{
	color: white;
	border-bottom: 8px solid #DE6262;
	cursor: pointer;
}

.content h3 strong:hover{
	border-bottom: 8px solid #FFB88C;
	transition: 0.5s ease-in-out;
}

h3.tracklist{
	position: relative;
	top: 50px;
}

ul.song-list{
	position: relative;
	top: -10px;
	text-align: left;
	left: -205px;
}

ul.song-list.album{
	position: relative;
	top: -10px;
	text-align: left;
	left: -175px;
}

ul.song-list li{
	font-family: 'HelveticaNeue-Bold';
	width: 700px;
	color: whitesmoke;
	font-size: 22.4px;
	position: relative;
	margin: 6px 4px;
	padding: 10px;
	border-bottom: 6px solid whitesmoke;
	cursor: pointer;
}

ul.song-list li a{
	float: right;
	position: relative;
	left: 20px; 
	text-decoration: none;
}

.fa-cloud-download{
	font-size: 30px;
	background: -webkit-linear-gradient(#d36167, #f48e38);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button.is-danger{
	font-size: 13px;
	background-color: #de6262;
}

ul.song-list li a:hover{
	border-bottom: none;
}

ul.song-list li a:focus{
	text-decoration: none;
	color: white;
}

button{
	background: none;
	padding: 0px;
	border: none;
}

button:hover{
	cursor: pointer;
}

form.dl-form{
	top: 0;
	display: inline;
	float: right;
	position: relative;
	left: 20px; 
	text-decoration: none;
}


.footer-text{
	color: white;
	font-size: 17px;
}

.wrapper{
	position: relative;
	top: -250px;
	left: 13%;
	width: 980px;
	background-color: white;
	text-align: center;
	height: 800px;
}


/*h3{
	font-family: HelveticaNeue;
	font-size: 40px;
	position: relative;
	top: 40px;
}

img{
	position: relative;
	top: 60px;
	height: 350px; 
	width: 350px
}

h3 strong{
	border-bottom: 8px solid #DE6262;
	cursor: pointer;
}

h3 strong:hover{
	border-bottom: 8px solid #FFB88C;
	transition: 0.5s ease-in-out;
}

h3.tracklist{
	position: relative;
	top: 50px;
}

ol{
	position: relative;
	top: 80px;
	text-align: left;
	left: 70px;
	width: 700px;
}

li{
	font-size: 17px;
	position: relative;
	margin: 6px 10px;
	padding: 10px;
	border-bottom: 2px solid #dda6a6;
	cursor: pointer;
}

li a{
	float: right;
	position: relative;
	left: -20px;
	font-size: 15px;
	background: #FFB88C;
	color: white;
	padding: 4px;
	border-radius: 5px;
	width: 110px;
	text-align: center;
	text-decoration: none;
}

li a:hover{
	background: #DE6262;
	color: white;
	text-decoration: none;
	transition: 0.6s ease-in-out;
}

li a:focus{
	text-decoration: none;
	color: white;
}*/

.jumbo p{
	color: white;
	position: relative;
	top: 120px;
	left: 520px;
	font-family: Helvetica;
	font-size: 16px;
}