*{
	font-family: Montserrat;
	padding: 0px;
	margin: 0px;
}

body{
	background: #DE6262;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow-x: hidden;

}

.jumbo{
	background-image: url('/images/record2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background: contain;
	height: 750px;
	position: relative;
	top: -280px;
}

form{
	position: relative;
	top: 130px;
	left: 30%;
}

.input{
	font-family: Montserrat;
	padding: 25px;
	border: 0px solid white;
	border-radius: 10px;
	width: 530px;
	font-size: 18px;
	color: black;
	background-color: white;
	box-shadow: none;
}


input[type=text]:focus{
	outline: none;
	outline-color: none;
	border: 0px solid white;
	width: 600px;
	transition: 0.7s ease-in-out;
	box-shadow: none;
}

.fa{
	font-size: 20px;
	color: #747474;
	position: relative;
	top: 5px;
}

.fa-soundcloud{
	color: orange;
}

.fa-bandcamp{
	color: #639aa9;
}

.submit{
	font-family: Montserrat;
	font-size: 14px;
	border-radius: 30px;
	text-align: center;
	width: 700px;
	position: relative;
	left: -100px;
	height: 53px;
	top: 20px;
}

.logo{
	position: relative;
	top: 230px;
	width: 250px;
	height: 250px;
	left: -30px;
}

ul{
	list-style: none;
	display: inline-block;
	position: relative;
	left: 720px;
	top: 70px;
	font-size: 17px;
}


li{
	display: inline-block;
	margin: 0px 30px;
}

li a{
	color: black;
}

li a:hover{
	color: black;
	border-bottom: 3px solid black;
	transition: 0.1s ease-in-out;
}

.link-is-active{
	border-bottom: 4px solid black;
}

a.github{
	color: black;
	border-bottom: 5px solid pink;
}

a.github:hover{
	border-bottom: 5px solid black;
	transition: 0.4s ease-in-out
}

.footer-text{
	font-size: 17px;
}

.wrapper{
	position: relative;
	top: -250px;
	left: 13%;
	width: 980px;
	background-color: white;
	text-align: center;
	height: 800px;
}

/*h3{
	font-family: HelveticaNeue;
	font-size: 40px;
	position: relative;
	top: 40px;
}

img{
	position: relative;
	top: 60px;
	height: 350px; 
	width: 350px
}

h3 strong{
	border-bottom: 8px solid #DE6262;
	cursor: pointer;
}

h3 strong:hover{
	border-bottom: 8px solid #FFB88C;
	transition: 0.5s ease-in-out;
}

h3.tracklist{
	position: relative;
	top: 50px;
}

ol{
	position: relative;
	top: 80px;
	text-align: left;
	left: 70px;
	width: 700px;
}

li{
	font-size: 17px;
	position: relative;
	margin: 6px 10px;
	padding: 10px;
	border-bottom: 2px solid #dda6a6;
	cursor: pointer;
}

li a{
	float: right;
	position: relative;
	left: -20px;
	font-size: 15px;
	background: #FFB88C;
	color: white;
	padding: 4px;
	border-radius: 5px;
	width: 110px;
	text-align: center;
	text-decoration: none;
}

li a:hover{
	background: #DE6262;
	color: white;
	text-decoration: none;
	transition: 0.6s ease-in-out;
}

li a:focus{
	text-decoration: none;
	color: white;
}*/

.jumbo p{
	color: white;
	position: relative;
	top: 120px;
	left: 520px;
	font-family: Helvetica;
	font-size: 16px;
}