*{
	font-family: Montserrat;
	padding: 0px;
	margin: 0px;
}

body{
	background: #DE6262;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow-x: hidden;

}

.jumbo{
	background-image: url('/css/concert2.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background: contain;
	height: 750px;
	position: relative;
	top: -280px;
}

input[type=text], input[type=submit]{
	padding: 10px 10px;
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	margin: 12px 0px;
	padding: 17px;
	color: black;
	width: 480px;
	position: relative;
	top: 240px;
	left: 33%;
}

input[type=text]:focus{
	outline: none;
	border-radius: 30px;
	background-color: white;
	transition: 0.7s ease-in-out;
}

input[type=submit]{
	width: 560px;
	position: relative;
	left: 29%;
	border-radius: 10px;
	color: white;
	border-color: #212121;
	background-color: #212121;
}

input[type=submit]:hover{
	cursor: pointer;
	background-color: black;
	border-color: black;
	border-radius: 30px;
	color: white;
	transition: 0.4s ease-in-out;
}


/*Styling for details card*/
.wrapper{
	position: relative;
	top: -280px;
	left: 18%;
	width: 840px;
	background-color: white;
	text-align: center;
	height: 800px;
}

h3{
	font-family: HelveticaNeue;
	font-size: 40px;
	position: relative;
	top: 40px;
}

img{
	position: relative;
	top: 60px;
	height: 350px; 
	width: 350px
}

h3 strong{
	border-bottom: 8px solid #DE6262;
	cursor: pointer;
}

h3 strong:hover{
	border-bottom: 8px solid #FFB88C;
	transition: 0.5s ease-in-out;
}

h3.tracklist{
	position: relative;
	top: 50px;
}

ol{
	position: relative;
	top: 80px;
	text-align: left;
	left: 70px;
	width: 700px;
}

li{
	font-size: 17px;
	position: relative;
	margin: 6px 10px;
	padding: 10px;
	border-bottom: 2px solid #dda6a6;
	cursor: pointer;
}

li a{
	float: right;
	position: relative;
	left: -20px;
	font-size: 15px;
	background: #FFB88C;
	color: white;
	padding: 4px;
	border-radius: 5px;
	width: 110px;
	text-align: center;
	text-decoration: none;
}

li a:hover{
	background: #DE6262;
	color: white;
	text-decoration: none;
	transition: 0.6s ease-in-out;
}

li a:focus{
	text-decoration: none;
	color: white;
}


/* Styling for loader */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: relative;
  top: 160px;
  left: 15px;
}

.spinner > div {
  background-color: white;
  height: 250%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.jumbo p{
	color: white;
	position: relative;
	top: 120px;
	left: 520px;
	font-family: Helvetica;
	font-size: 16px;
}