*{
	font-family: Montserrat;
}

.form-box{
	display: block;
	margin: auto;
  	position: relative;
  	top: 40px;
  	left: 190px;
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 50px;
	height: 300px;
	width: 600px;
}

input[type=text], input[type=password], input[type=submit]{
	padding: 10px 10px;
	background-color: white;
	border: 1px solid #66615B;
	border-radius: 31px;
	margin: 12px 0px;
	padding: 17px;
	color: black;
	width: 200px;
}

input[type=text]:focus{
	outline: none;
	border: 1px solid black;
	background-color: white;
	transition: 0.3s ease-in-out;
}

input[type=submit]{
	width: 300px;
}

input[type=submit]:hover{
	cursor: pointer;
	background-color: black;
	color: white;
	transition: 0.4s ease-in-out;
}